<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js editor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>
	<body>
		<link href="{{asset('js/threejs/editor/css/types.css')}}" rel="stylesheet" />
        <link id="theme" href="{{asset('js/threejs/editor/css/light.css')}}" rel="stylesheet" />
		
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
		<script src="{{asset('js/threejs/build/three.min.js')}}"></script>
		<script src="{{asset('js/threejs/examples/js/libs/system.min.js')}}"></script>
        
        <script src="{{asset('js/threejs/examples/js/controls/EditorControls.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/controls/TransformControls.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/BabylonLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/ColladaLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/OBJLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/PLYLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/STLLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/UTF8Loader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/VRMLLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/VTKLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/ctm/lzma.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/ctm/ctm.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/loaders/ctm/CTMLoader.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/exporters/SceneExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/exporters/OBJExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/exporters/STLExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/renderers/RaytracingRenderer.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/renderers/SoftwareRenderer.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/renderers/SVGRenderer.js')}}"></script>
        
        <!-- WIP -->
        
        <script src="{{asset('js/threejs/examples/js/BufferGeometryUtils.js')}}"></script>
        
        <script src="{{asset('js/threejs/examples/js/exporters/BufferGeometryExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/exporters/TypedGeometryExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/exporters/GeometryExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/exporters/MaterialExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/exporters/ObjectExporter.js')}}"></script>
        <script src="{{asset('js/threejs/examples/js/renderers/WebGLRenderer3.js')}}"></script>
        
        <!-- FONT -->
        <script src="{{asset('js/threejs/examples/fonts/droid/droid_sans_regular.typeface.js')}}"></script>
        <script src="{{asset('js/threejs/examples/fonts/helvetiker_bold.typeface.js')}}"></script>
        <script src="{{asset('js/threejs/examples/fonts/helvetiker_regular.typeface.js')}}"></script>
        
        <script src="{{asset('js/threejs/editor/js/libs/signals.min.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/libs/ui.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/libs/ui.editor.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/libs/ui.three.js')}}"></script>
        
        <script src="{{asset('js/threejs/editor/js/Storage.js')}}"></script>
        
        <script src="{{asset('js/threejs/editor/js/Editor.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Config.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Loader.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Menubar.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Menubar.File.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Menubar.Edit.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Menubar.Add.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Menubar.View.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Menubar.Help.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Renderer.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Scene.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Object3D.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Animation.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.BoxGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.CircleGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.CylinderGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.IcosahedronGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.PlaneGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.SurfaceGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.SphereGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.TorusGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Geometry.TorusKnotGeometry.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Sidebar.Material.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Toolbar.js')}}"></script>
        <script src="{{asset('js/threejs/editor/js/Viewport.js')}}"></script>
        
        <script src="{{asset('js/threejs/editor/js/frequenstat/Utils.js')}}"></script>
		

		<script>

			window.URL = window.URL || window.webkitURL;
			window.BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder;

			var editor = new Editor();
			
			// Config boxes
			editor.config.setKey('availableBoxes', ['Box 1', 'Box 2', 'Box 3']);
			editor.config.setKey('theme', "{{asset('js/threejs/editor/css/light.css')}}");

			var viewport = new Viewport( editor ).setId( 'viewport' );
			document.body.appendChild( viewport.dom );

			var toolbar = new Toolbar( editor ).setId( 'toolbar' )
			document.body.appendChild( toolbar.dom );

			var menubar = new Menubar( editor ).setId( 'menubar' );
			document.body.appendChild( menubar.dom );

			var sidebar = new Sidebar( editor ).setId( 'sidebar' );
			document.body.appendChild( sidebar.dom );

			//

			editor.setTheme( editor.config.getKey( 'theme' ) );

			editor.storage.init( function () {

				editor.storage.get( function ( state ) {

					if ( state !== undefined ) {

						var loader = new THREE.ObjectLoader();
						var scene = loader.parse( state );

						editor.setScene( scene );

					}

					var selected = editor.config.getKey( 'selected' );

					if ( selected !== undefined ) {

						editor.selectByUuid( selected );

					}

				} );

				//

				var timeout;
				var exporter = new THREE.ObjectExporter();

				var saveState = function ( scene ) {

					clearTimeout( timeout );

					timeout = setTimeout( function () {

						editor.storage.set( exporter.parse( editor.scene ) );

					}, 1000 );

				};

				var signals = editor.signals;

				signals.objectAdded.add( saveState );
				signals.objectChanged.add( saveState );
				signals.objectRemoved.add( saveState );
				signals.materialChanged.add( saveState );
				signals.sceneGraphChanged.add( saveState );

			} );

			//

			document.addEventListener( 'dragover', function ( event ) {

				event.preventDefault();
				event.dataTransfer.dropEffect = 'copy';

			}, false );

			document.addEventListener( 'drop', function ( event ) {

				event.preventDefault();
				editor.loader.loadFile( event.dataTransfer.files[ 0 ] );

			}, false );

			document.addEventListener( 'keydown', function ( event ) {

				switch ( event.keyCode ) {

					case 8: // prevent browser back 
						event.preventDefault();
						break;
					case 46: // delete
						var parent = editor.selected.parent;
						editor.removeObject( editor.selected );
						editor.select( parent );
						break;

				}

			}, false );

			var onWindowResize = function ( event ) {

				editor.signals.windowResize.dispatch();

			};

			window.addEventListener( 'resize', onWindowResize, false );

			onWindowResize();

		</script>
	</body>
</html>
