{% extends "TrackerAdminBundle::layout.html.twig" %}

{% block breadcrumb %}
	<li><a href="{{ path('tracker_page_dashboard') }}">{{ 'Accueil'|trans }}</a></li>
	<li><a href="{{ path('tracker_admin_ticket_index') }}">{{ 'Tickets'|trans }}</a></li>
	<li>{{ 'Ticket'|trans }} {{ ticket.id }}</li>
{% endblock %}

{% block admin_body %}
<div id="content">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark"><i class="fa fa-comments txt-color-white"></i> {{ 'Conversation'|trans }} </span></h1>
		</div>
	</div>
	
	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="jarviswidget jarviswidget-color-blueDark">
					<header>
						<span class="widget-icon"><i class="fa fa-table"></i></span>
						<h2>Conversation</h2>
					</header>
					<div>
						<div class="widget-body widget-hide-overflow no-padding">
							
							<div class="chat-body custom-scroll">
								<ul>
									<li class="message">
										<img class="online" alt="" src="{{ asset('img/avatars/male.png') }}" />
										<div class="message-text">
											<time>{{ ticket.created | date("d/m/Y H:i") }}</time>
											<a class="username">{{ ticket.user.firstName }} {{ ticket.user.lastName }}</a>
											{{ ticket.description|nl2br }}
										</div>
									</li>
									
									{# On liste les messages #}
									{% for m in ticket.messages %}
										{% set avatar = 'male.png' %}
										{% if m.user.hasRole('ROLE_ADMIN') %}
											{% set avatar = '4.png' %}
										{% endif %}

    									<li class="message">
    										<img class="online" alt="" src="{{ asset('img/avatars/'~avatar) }}" />
    										<div class="message-text">
    											<time>{{ m.created | date("d/m/Y H:i") }}</time>
    											<a class="username">{{ m.user.firstName }} {{ m.user.lastName }}</a>
    											{{ m.content|nl2br }}
    										</div>
    									</li>
									{% endfor %}
								</ul>
							</div>
							
							{% if not ticket.closed %}
    							<div class="chat-footer">
    							<form method="POST">
    								<div class="textarea-div">
    									<div class="typearea">
    									    {{ form_widget(form.content) }}
    									</div>
    								</div>
    								<span class="textarea-controls">
    									<button class="btn btn-sm btn-primary pull-right">Répondre</button>
    									<span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;">
    										<label class="checkbox pull-right">
    											{{ form_widget(form.close) }}
    											<i></i>
    											Fermer le ticket
    										</label>
    									</span>
    								</span>
    								{{ form_rest(form) }}
    							</form>
    							</div>
    						{% else %}
    						    <hr />
    						    <div class="alert alert-info alert-block">
									<i class="fa-fw fa fa-info"></i>
									Le ticket est fermé.
								</div>
							{% endif %}
						    
						    {% if not form.vars.valid %}
                                <div class="alert alert-danger">
                                    <button class="close"> x </button>
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>Une erreur est survenue!</strong>
                                    {{ form_errors(form) }}
                                </div>
                            {% endif %}
						
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
</div>
{% endblock %}